## Import Data & Data Cleaning

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [23]:
df=pd.read_excel('sample ab_data.xlsx')
df.head(10)

    user_id timestamp      group landing_page  converted
0  851104.0   11:48.6    control     old_page        0.0
1  804228.0   01:45.2    control     old_page        0.0
2  661590.0   55:06.2  treatment     new_page        1.0
3  853541.0   28:03.1  treatment     new_page        1.0
4  864975.0   52:26.2    control     old_page        1.0
5  936923.0   20:49.1    control     old_page        0.0
6  679687.0   26:46.9  treatment     new_page        1.0
7  719014.0   48:29.5    control     old_page        0.0
8  817355.0   58:09.0  treatment     new_page        1.0
9  839785.0   11:06.6  treatment     new_page        1.0

## Get an overview of the dataset

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  float64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  float64
dtypes: float64(2), object(3)
memory usage: 11.2+ MB

## Check if 'group' aligns with 'landing_page'

In [25]:
#wrong combination 1
((df.group=='treatment') & (df.landing_page=='old_page')).sum()

1965

In [26]:
#wrong combination 2
((df.group=='control') & (df.landing_page=='new_page')).sum()

1928

In [27]:
df['misaligned']=((df.group=='treatment') & (df.landing_page=='old_page')) | ((df.group=='control') & (df.landing_page=='new_page'))

In [28]:
df['misaligned'].head()

0    False
1    False
2    False
3    False
4    False
Name: misaligned, dtype: bool

In [29]:
#df = df-df['misaligned']

In [30]:
df  #how to read/understand the column "misaligned"?

         user_id timestamp      group landing_page  converted  misaligned
0       851104.0   11:48.6    control     old_page        0.0       False
1       804228.0   01:45.2    control     old_page        0.0       False
2       661590.0   55:06.2  treatment     new_page        1.0       False
3       853541.0   28:03.1  treatment     new_page        1.0       False
4       864975.0   52:26.2    control     old_page        1.0       False
...          ...       ...        ...          ...        ...         ...
294473  751197.0   28:38.6    control     old_page        0.0       False
294474  945152.0   51:57.1    control     old_page        0.0       False
294475  734608.0   45:03.4    control     old_page        0.0       False
294476  697314.0   20:29.0    control     old_page        0.0       False
294477  715931.0   40:24.5  treatment     new_page        0.0       False

[294478 rows x 6 columns]

In [31]:
df.misaligned == True

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Name: misaligned, Length: 294478, dtype: bool

In [32]:
df = df[-df['misaligned']]

In [33]:
df.head()

    user_id timestamp      group landing_page  converted  misaligned
0  851104.0   11:48.6    control     old_page        0.0       False
1  804228.0   01:45.2    control     old_page        0.0       False
2  661590.0   55:06.2  treatment     new_page        1.0       False
3  853541.0   28:03.1  treatment     new_page        1.0       False
4  864975.0   52:26.2    control     old_page        1.0       False

In [35]:
df.info() #confirmed all misaligned data are removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290585 entries, 0 to 294477
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       290585 non-null  float64
 1   timestamp     290585 non-null  object
 2   group         290585 non-null  object
 3   landing_page  290585 non-null  object
 4   converted     290585 non-null  float64
 5   misaligned    290585 non-null  bool
dtypes: bool(1), float64(2), object(3)
memory usage: 13.6+ MB