## Import Data & Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_excel('sample ab_data.xlsx')
df.head(10)

    user_id timestamp      group landing_page  converted
0  851104.0   11:48.6    control     old_page        0.0
1  804228.0   01:45.2    control     old_page        0.0
2  661590.0   55:06.2  treatment     new_page        1.0
3  853541.0   28:03.1  treatment     new_page        1.0
4  864975.0   52:26.2    control     old_page        1.0
5  936923.0   20:49.1    control     old_page        0.0
6  679687.0   26:46.9  treatment     new_page        1.0
7  719014.0   48:29.5    control     old_page        0.0
8  817355.0   58:09.0  treatment     new_page        1.0
9  839785.0   11:06.6  treatment     new_page        1.0

## Get an overview of the dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  float64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  float64
dtypes: float64(2), object(3)
memory usage: 11.2+ MB

## Check if 'group' aligns with 'landing_page'

In [4]:
((df.group=='treatment') & (df.landing_page=='old_page')).sum()

1965

In [5]:
((df.group=='control') & (df.landing_page=='new_page')).sum()

1928

In [6]:
df['misaligned']=((df.group=='treatment') & (df.landing_page=='old_page')) | ((df.group=='control') & (df.landing_page=='new_page'))

In [7]:
df['misaligned'].head()

0    False
1    False
2    False
3    False
4    False
Name: misaligned, dtype: bool

In [8]:
#df = df-df['misaligned']

In [9]:
df = df[-df['misaligned']]

In [10]:
df.head()

    user_id timestamp      group landing_page  converted  misaligned
0  851104.0   11:48.6    control     old_page        0.0       False
1  804228.0   01:45.2    control     old_page        0.0       False
2  661590.0   55:06.2  treatment     new_page        1.0       False
3  853541.0   28:03.1  treatment     new_page        1.0       False
4  864975.0   52:26.2    control     old_page        1.0       False