## Import Data & Data Cleaning

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('sample ab_data.csv')
df.head(10)

   user_id timestamp      group landing_page  converted
0   851104   11:48.6    control     old_page          0
1   804228   01:45.2    control     old_page          0
2   661590   55:06.2  treatment     new_page          1
3   853541   28:03.1  treatment     new_page          1
4   864975   52:26.2    control     old_page          1
5   936923   20:49.1    control     old_page          0
6   679687   26:46.9  treatment     new_page          1
7   719014   48:29.5    control     old_page          0
8   817355   58:09.0  treatment     new_page          1
9   839785   11:06.6  treatment     new_page          1

## Get an overview of the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       294478 non-null  int64
 1   timestamp     294478 non-null  object
 2   group         294478 non-null  object
 3   landing_page  294478 non-null  object
 4   converted     294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

## Check if 'group' aligns with 'landing_page'

In [5]:
# Check wrong combination 1
((df.group=='treatment') & (df.landing_page=='old_page')).sum()

1965

In [6]:
# Check wrong combination 2
((df.group=='control') & (df.landing_page=='new_page')).sum()

1928

In [7]:
df['misaligned']=((df.group=='treatment') & (df.landing_page=='old_page')) | ((df.group=='control') & (df.landing_page=='new_page'))

In [8]:
df['misaligned'].head()

0    False
1    False
2    False
3    False
4    False
Name: misaligned, dtype: bool

In [9]:
#df = df-df['misaligned']

In [10]:
df  #how to read/understand the column "misaligned"?

        user_id timestamp      group landing_page  converted  misaligned
0        851104   11:48.6    control     old_page          0       False
1        804228   01:45.2    control     old_page          0       False
2        661590   55:06.2  treatment     new_page          1       False
3        853541   28:03.1  treatment     new_page          1       False
4        864975   52:26.2    control     old_page          1       False
...         ...       ...        ...          ...        ...         ...
294473   751197   28:38.6    control     old_page          0       False
294474   945152   51:57.1    control     old_page          0       False
294475   734608   45:03.4    control     old_page          0       False
294476   697314   20:29.0    control     old_page          0       False
294477   715931   40:24.5  treatment     new_page          0       False

[294478 rows x 6 columns]

In [11]:
df.misaligned == True

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Name: misaligned, Length: 294478, dtype: bool

In [12]:
df = df[-df['misaligned']]

In [13]:
df.head()

   user_id timestamp      group landing_page  converted  misaligned
0   851104   11:48.6    control     old_page          0       False
1   804228   01:45.2    control     old_page          0       False
2   661590   55:06.2  treatment     new_page          1       False
3   853541   28:03.1  treatment     new_page          1       False
4   864975   52:26.2    control     old_page          1       False

In [14]:
df.info() #confirmed all misaligned data are removed

<class 'pandas.core.frame.DataFrame'>
Int64Index: 290585 entries, 0 to 294477
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   user_id       290585 non-null  int64
 1   timestamp     290585 non-null  object
 2   group         290585 non-null  object
 3   landing_page  290585 non-null  object
 4   converted     290585 non-null  int64
 5   misaligned    290585 non-null  bool
dtypes: bool(1), int64(2), object(3)
memory usage: 13.6+ MB

## Check if all are unique IDs

In [15]:
df.user_id.nunique()

290584

In [16]:
#df.user_id.unique()

In [17]:
#check how many unique 'user_id's are there
df['user_id'].nunique()

290584

In [18]:
#return a Series containing counts of unique values
df['user_id'].value_counts()

773192    2
851104    1
688307    1
718297    1
838144    1
         ..
755610    1
804629    1
837875    1
889019    1
715931    1
Name: user_id, Length: 290584, dtype: int64

In [19]:
df['user_id'].value_counts().sort_values(ascending=False).head()

773192    2
834487    1
936923    1
679687    1
719014    1
Name: user_id, dtype: int64

In [20]:
df['user_id'] == 773192  #这行 code 和下面那行 code 请问差别在哪里？

#看 user_id 是否等于他 （如果已经有这个数据的话，这样看 == 就是看 True or False)

0         False
1         False
2         False
3         False
4         False
          ...
294473    False
294474    False
294475    False
294476    False
294477    False
Name: user_id, Length: 290585, dtype: bool

In [38]:
df[df['user_id'] == 773192]
# Filter 去找 user_id 等于 773192 的那一行

      user_id timestamp      group landing_page  converted  misaligned
2893   773192   55:59.6  treatment     new_page          0       False

In [22]:
#能不能直接 drop user_id 773192? and how?

In [23]:
#df.drop(df['user_id'] == 773192)

In [42]:
#df[(df['user_id'] != 773192) & (df['user_id'] != 851104)]

In [24]:
#------------------

In [25]:
# drop one of the records from the duplicated 'user_ID'
df.drop(1899, axis=0, inplace=True)

/var/folders/hk/t9ycjb713h1fd831zgqd1zz40000gn/T/ipykernel_15832/2410272488.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(1899, axis=0, inplace=True)

In [26]:
# check again if all 'user_id' are unique values? If all is '1', then it's correct.
df.user_id.value_counts()

851104    1
688307    1
718297    1
838144    1
728209    1
         ..
633922    1
755610    1
804629    1
837875    1
715931    1
Name: user_id, Length: 290584, dtype: int64

In [27]:
df.user_id.value_counts().sort_values(ascending=False).head()

851104    1
834487    1
936923    1
679687    1
719014    1
Name: user_id, dtype: int64

## Check how many users are in each group?

In [28]:
(df.group=='control').sort_values

<bound method Series.sort_values of 0          True
1          True
2         False
3         False
4          True
          ...
294473     True
294474     True
294475     True
294476     True
294477    False
Name: group, Length: 290584, dtype: bool>

In [29]:
# 为什么这样算的话和下面那行答案一样？ 两个group 不是应该 True 的数字不一样吗？
(df['group']=='treatment').value_counts()

True     145310
False    145274
Name: group, dtype: int64

In [30]:
(df['group']=='control').value_counts()

False    145310
True     145274
Name: group, dtype: int64

In [31]:
#Check how many users are in each group?

df[['user_id','group']].groupby('group').count()

           user_id
group
control     145274
treatment   145310

## Conversion rate in each group

In [32]:
df[['user_id','group','converted']].groupby('group').agg({'user_id':'count','converted':'mean'})

           user_id  converted
group
control     145274   0.120386
treatment   145310   0.125353

## Analyze Results

### Let's assume that the new page does not have higher conversion rate than the old page at 5% Type I error. (Null) So the hypothesis woule be:
null: 𝑝𝑛𝑒𝑤 - 𝑝𝑜𝑙𝑑 <=0

alternative: 𝑝𝑛𝑒𝑤 - 𝑝𝑜𝑙𝑑 >0

In [33]:
#设定 hypothesis 的时候，把想要的 result 放在下面 （alternative),但是和上面的文字不配合？ 是否应该是 have higher converseion rate, 不是 does not have?

In [34]:
df[df.group=='control']

        user_id timestamp    group landing_page  converted  misaligned
0        851104   11:48.6  control     old_page          0       False
1        804228   01:45.2  control     old_page          0       False
4        864975   52:26.2  control     old_page          1       False
5        936923   20:49.1  control     old_page          0       False
7        719014   48:29.5  control     old_page          0       False
...         ...       ...      ...          ...        ...         ...
294471   718310   44:20.4  control     old_page          0       False
294473   751197   28:38.6  control     old_page          0       False
294474   945152   51:57.1  control     old_page          0       False
294475   734608   45:03.4  control     old_page          0       False
294476   697314   20:29.0  control     old_page          0       False

[145274 rows x 6 columns]

In [35]:
df[df.group=='control'].converted

0         0
1         0
4         1
5         0
7         0
         ..
294471    0
294473    0
294474    0
294475    0
294476    0
Name: converted, Length: 145274, dtype: int64

In [36]:
#total of '1's added up that's actually converted for the 'control' group

df[df.group=='control'].converted.sum()

17489

In [37]:


convert_total_old = df[df.group=='control'].converted.sum()
convert_total_new = df[df.group=='treatment'].converted.sum()

print (convert_total_old, convert_total_new)

17489 18215

In [ ]:
#-------> next time

In [1]:
# 怎么显示整个“group”里有多少个value?

#df[df['group']== 'treatment','control'].converted

In [87]:
#这是在算什么呢？

df[df.group=='control'].converted

0         0.0
1         0.0
4         1.0
5         0.0
7         0.0
         ...
294471    0.0
294473    0.0
294474    0.0
294475    0.0
294476    0.0
Name: converted, Length: 145274, dtype: float64

In [100]:
#这个是否是选了 group 里为 Control，相对应的 converted column 里总共有多少个 value?
#就是总共发了几次 control 的 send 去测试 （不管最后有没有 convert)?

len(df[df.group=='control'].converted)

145274

In [101]:


total_number_of_old_test = len(df[df.group=='control'].converted)
total_number_of_new_test = len(df[df.group=='treatment'].converted)

print(total_number_of_old_test, total_number_of_new_test)

145274 145310

In [106]:
#Turn the above values into a data frame

conversion_dic = {'Sends':{'Control':total_number_of_old_test,'Test':total_number_of_new_test},'Converts': {'Control':convert_total_old,'Test':convert_total_new}}
conversion_dic

{'Sends': {'Control': 145274, 'Test': 145310},
 'Converts': {'Control': 17489.0, 'Test': 18215.0}}

In [107]:
conversion_table = pd.DataFrame(conversion_dic)
conversion_table

          Sends  Converts
Control  145274   17489.0
Test     145310   18215.0

In [ ]:
# Add a "conversion rate" column

In [113]:
conversion_table['Conversion rate'] = conversion_table['Converts'] / conversion_table['Sends']
conversion_table

          Sends  Converts  conversion rate  Conversion rate
Control  145274   17489.0         0.120386         0.120386
Test     145310   18215.0         0.125353         0.125353

In [114]:
conversion_table['Conversion rate'] = conversion_table['Converts'] / conversion_table['Sends']
conversion_table['Conversion rate'] = conversion_table['Conversion rate'].apply(lambda x: str(np.round(x,3)*100)+'%')

conversion_table

          Sends  Converts  conversion rate Conversion rate
Control  145274   17489.0         0.120386           12.0%
Test     145310   18215.0         0.125353           12.5%

In [115]:
#please explain the lambda function